.Statistics {
  .DatePicker {
    width: 100%;
    background-color: var(--bs-white);
    border: 1px solid var(--bs-gray-400);
    border-radius: 0.25rem;
    color: var(--bs-body-color);
    font-size: 1.1rem;
    padding: 0.25rem 1rem;
    margin-bottom: 1rem;
  }
}
